.cmh-banner {
    text-align:center;
    padding: 32px;
    color :gray;
    border-bottom:inherit;
     
}
/*
.cmh-cart {
    border-bottom: solid 3px black;
    
  color: white;
  padding: 32px;
  background-color: #31b572;
}
*/
