
.cmh-cart {
	color: black;
	padding: 32px;;
	
}

.cmh-cart >button {
	color: black;
	padding: 10px;
	width: 120px;
}
.cmh-cart-add-button {
	margin-left: 32px;
	cursor: pointer;
	
}

.cmh-cart-toggle-button {
    background: gray;
	font-weight: 600;
	cursor: pointer;
	align-self: self-start;
	padding: 32 px;
	color: white;
    border-radius: 5px;
}

.cmh-cart-closed {
	padding: 32px;
	width: 200px;
}


.cmh-cart-closed > button {
	color: black;
	padding: 10px;
	width: 120px;
}
